@charset "utf-8";

/* CSS Document */

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;} /* 쓸거만 넣자. */
h1, h2, h3, h4, h5, h6 {font-weight: 600;}/* f-w */
main {display: block;} /* 표준에 가장 늦게 들어온거라 main기본값이 없을 때가 있으면 inline으로 인식해서. */
a {color: inherit; text-decoration: inherit;} /* 주변 애들이랑 똑같이 스타일 먹게. */
a img {border: none;}/* 파란테두리 생기는거 초기화 */
img {vertical-align: middle;} /* img 밑에 inline- 공간 생기는거. baseline공간. */
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;} /* 디자인엔 안보이게. ir기법중 하나. 숨김 */
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;} /* */
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
/* 여기부터는 pc에서 필요없는거. */
.mobile {display: none !important;}/* header 안에 있는 요소가 footer에 있거나 그럴때 . 아예 pc, mobile디자인이 다를 때 
mark-up을 두번 하고 하나를 숨긴다. pc에서 모바일용이 안보이게. */
br.only-pc {content: ' ';} /* 줄바꿈을 웹에서만 할 때. br을 */
br.only-pc:after {content: '\00a0';} 
div.hidden {position: absolute; left: -9999px;}


/* common */
body {position: relative; font-family: "Inter", Helvetica, sans-serif; font-weight: 300; font-size: 10px; color: #172345;}
#wrapper {min-width: 1024px; overflow: hidden;}
/* #skip-nav {position: fixed; left: 0; top: -41px; width: 100%; line-height: 40px; text-align: center; font-size: 16px; color: #ffffff; background: rgba(0, 0, 0, 0.6); border-bottom: 1px solid #ffffff; z-index: 100000; transition: top 0.3s;} */
/* #skip-nav:focus {top: 0;} */
/* #header {position: fixed; left: 0; top: 0; width: 100%; height: 80px; background: rgba(0, 0, 0, 0.3); z-index: 10000;} */
/* #header h1 {position: absolute; left: 50px; top: 50%; transform: translate(0, -50%);}
#header h1 img {width: 160px;}

#footer {position: fixed; left: 0; bottom: 0; width: 100%; z-index: 1000; background: rgba(0, 0, 0, 0.3);}
#footer p.copyright {line-height: 40px; text-align: center; font-size: 16px; color: #ffffff; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);}


/* main */
/* #main-visual {position: relative; height: 100vh; overflow: hidden;}
#main-visual ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: none;}
#main-visual ul.slide li:first-child {display: block;}
#main-visual ul.slide li img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#main-visual ul.slide li.show {animation: visual-show 5s ease 0s 1 normal forwards;}
#main-visual ul.slide li.hide {animation: visual-hide 5s ease 0s 1 normal forwards;}

#main-link {position: absolute; left: 15%; top: 50%; width: 70%; transform: translate(0, -50%); background: rgba(0, 0, 0, 0.5); font-size: 18px; color: #ffffff; padding: 30px 30px 20px 30px; border-radius: 20px; z-index: 100; box-sizing: border-box;}
#main-link ul {overflow: hidden; text-align: center;}
#main-link ul li {display: inline-block; margin-right: 30px; margin-bottom: 10px;}
#main-link ul li a {display: block; padding: 10px 20px; border: 1px solid #ffffff; border-radius: 10px; transition: background 0.3s;}
#main-link ul li a:hover {background: rgba(0, 0, 0, 0.8);} */

/* sub(common) */
/* body.sub #main {padding-top: 80px; padding-bottom: 200px;} */



/* animation */
/* @keyframes visual-show {
    0% {opacity: 0; transform: rotate(3deg) scale(1.2);}
    100% {opacity: 1; transform: rotate(0) scale(1);}
}
@keyframes visual-hide {
    0% {opacity: 1; transform: rotate(0) scale(1);}
    100% {opacity: 0; transform: rotate(-3deg) scale(1.2);}
} */




/*
animation 축약 표현
animation: main-bg-animation 3s ease-out 0.1s 1 normal forwards running;
animation: name duration timing-function delay iteration-count direction fill-mode play-state
duration: 0(default), time, initial, inherit
timing-function: ease(default), linear, ease-in, ease-out, ease-in-out, step-start, step-end, steps(int, start|end), cubic-bezier(n, n, n, n), initial, inherit
deley: 0s(default), time, initial, inherit
direction: normal(default), reverse, alternate, alternate-reverse, initial, inherit
iteration-count: 1(default), number, infinite, initial, inherit
fill-mode: none(default), forwards, backwards, both, initial, inherit
play-state: running(default), paused, initial, inherit  (IE에서는 축약표현에 포함시 동작하지 않음, 별도로 사용)

[최종 사용 예시]
animation: main-bg-animation 3s ease-out 0s 1 normal forwards;
animation-play-state: running;
*/