br.only-w {content: '';}
br.only-w:after {content: '\00a0';}
.pc {display: none !important;}
#skip-nav {position: fixed; left: 0; top: -36px; width: 100%; line-height: 35px; font-size: 16px; border-bottom: 1px solid #ffffff; color: #ffffff; background: #999999; background: rgba(0, 0, 0, 0.6); text-align: center; z-index: 10000; transition: top 0.3s;}
#skip-nav:focus {top: 0;}
html {width: 100vw;}

/* common */
body {margin: 0 auto; font-family: 'NotoSansKR', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; }
header nav.tnb > ul > li:last-child::before {content:''; position: fixed; top: 0; right: 0; width: 60px; height: 60px; background-color: #000; z-index: 1000;}
header nav.tnb > ul > li a.menu {position: fixed; top: 20px; right: 13px; width: 30px; height: 20px;  z-index: 10000;}
header nav.tnb ul li a.menu::before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 10%; background: #f17446; transition: all 0.3s;}
header nav.tnb ul li a.menu span {position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: 100%; height: 10%; background: #f17446;; text-indent: -99999999px; overflow: hidden; transition: all 0.3s;}
header nav.tnb ul li a.menu::after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 10%; background: #f17446;; transition: all 0.3s;}
header nav.tnb ul li a.menu.close:before {top: 50%; transform: rotate(45deg) translate(0, -50%);}
header nav.tnb ul li a.menu.close span {opacity: 0;}
header nav.tnb ul li a.menu.close:after {bottom: 50%; transform: rotate(-45deg) translate(0, 50%);}

#asideMenu {position: fixed; top: 0; right: -120%; width: 100vw; height: 100vh; padding: 60px 0; box-sizing: border-box; background: #222222; text-align: center; transition: all 0.5s; z-index: 1000;}
#asideMenu.on {right: 0; transition: all 0.5s;}
#asideMenu li {display: block; transition: all 0.2s; margin-bottom: 35px;}
#asideMenu li a {display: block; font-size: 35px; color: #fff; margin: 20px 0 5px;} 
#asideMenu li a img {width: 30px; margin-right: 10px;}
#asideMenu li a:hover {color:#ccc; transition: all 0.2s;} 
#asideMenu li .text {font-size: 15px; color: rgba(255,255,255,.3);}
#asideMenu li a > strong {color: rgba(255,255,255,.3);}
#asideMenu li:first-child:hover {filter: brightness(0.7); transition: all 0.2s;}

footer {width: 100%; background-color: rgb(21, 21, 21);}
#footerWrap {margin: 0 auto; padding: 20px 0 20px 20px; overflow: hidden;}
#footerWrap .footerLeft dl {width: 350px; overflow: hidden;}
#footerWrap .footerLeft dt {float: left; width: 35%; font-size: 14px; font-weight: thin; color: #9d9d9d; line-height: 35px;}
#footerWrap .footerLeft dd {float: left; width: 65%; font-size: 12px; font-weight: 200; color: rgba(255,255,255,0.3); line-height: 35px;}
#footerWrap .footerLeft ul {display: inline-block; margin-top: 20px; padding-left: 0;}
#footerWrap .footerLeft ul li {max-width: 500px;  display: inline-block; font-size: 12px; font-weight: 200; color: rgba(255,255,255,0.3);}
#footerWrap .footerLeft address{ max-width: 500px; font-size: 12px; font-weight: 200; color: rgba(255,255,255,0.3);}
#footerWrap .footerLeft ul li + li::before {content: '|'; margin: 0 10px;}
#footerWrap .footerRight div {margin-top: 20px;}
#footerWrap .footerRight div a {float: left; height: 20px; margin: 10px 5px;}
#footerWrap .footerRight div a img {height: 100%;}

#main {overflow: hidden; max-width: 500px; margin: 0 auto;}
main .mainPoster {position: relative;height: 100vmin; overflow: hidden;}
main .mainPoster .mainPosterImg {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
main .mainPoster .mainPosterImg img {display: none;}
main .mainPoster .mainPosterImg img + img {display: block;}

/* .sub.news main, .sub.info main  {width: 100%; margin: 125px auto;} */

.main section h2 {text-align: center;}
#btnWrap {display: inline-block; position: relative; top: 0; left: 50%; transform: translate(-50%, 0); z-index: 100;}
#btnWrap ul {position: relative; left: 50%; top: 0; transform: translate(-50%, -50%);}
#btnWrap ul li {position: relative; display: inline-block; height: 60px; width: 60px; margin-left: -5px;  text-align: center; background-color: #fff; overflow: hidden;}
#btnWrap ul li a {line-height: 60px; box-sizing: border-box; font-size: 0; text-indent: -99999999px; color: transparent;}
#btnWrap ul li:first-child::after {position: absolute; right: 0; top: 50%; transform: translate(0, -50%); /* content: '|'; */ color: #cecece; font-size: 24px;}
#btnWrap ul li:last-child {background-color:#000; width: 250px; height: 60px;}
#btnWrap ul li:last-child a {width: 100%; height: 60px; font-size: 14px; color: #f17446; background-color: #161616; text-indent: 0;}
#btnWrap ul li a img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40%;}
#btnWrap li a:hover {color: #f17446;}

#wrapper {max-width: 850px; padding:20px;}


#newsWrap {width: 100%; padding: 20px; box-sizing: border-box; margin: 80px auto;}
#newsWrap .news {position: relative; margin-bottom: 40px; }
#newsWrap .news .date {font-size: 12px; color: #666; margin-bottom: 5px;}
#newsWrap .news a h3.newsTitle {width: 100%; -webkit-line-clamp: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 18px; line-height: 22px; font-weight: bold;}
#newsWrap .news a h3.newsTitle:hover {color: rgb(153, 153, 153); transition: 0.3s;}
#newsWrap .news .text {margin-top: 10px; font-size: 15px; color: #999999; line-height: 24px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; /* 라인수 */ -webkit-box-orient: vertical;}

#progInfo {width: 100vw; margin: 0 auto; overflow: hidden;}
#progInfo .progList {overflow: hidden;}
#progInfo .progList .progBg,
#progInfo .smallProgWrap {position: relative; width: calc(100% - 25px); height: 610px; margin: 15px 12.5px; background: no-repeat; background-size: cover; background-position: center;}
#progInfo .progList .progBg:first-child {background-image: url("../../img/seoul284/hotelexpress.png");}
#progInfo .progList .progBg:nth-child(2) {background-image: url("../../img/seoul284/전기우주.png");}
#progInfo .progList .progBg:nth-child(3) {background-image: url("../../img/seoul284/서울레코드페어.png");}
#progInfo .progList .progBg:nth-child(5) {background-image: url("../../img/seoul284/2019-타이포잔치.png");}
#progInfo .progList .progBg:nth-child(6) {background-image: url("../../img/seoul284/2019-rto365-메인-썸네일.png");}
#progInfo .progList .progBg:nth-child(7) {background-image: url("../../img/seoul284/2019-대한민국건축문화제-1.png");}
#progInfo .progList .progBg:nth-child(8) {background-image: url("../../img/seoul284/2019한복상점.png");}
#progInfo .progList .progBg::before {content: ''; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); opacity: 0; top: 0; left: 0;}
#progInfo .progList .progBg:hover::before {opacity: 1; transition: 0.2s;}
#progInfo .progList .progBg .prog,
.smallProg div > a {display: block; position: relative; width: calc(100% - 50px); height: calc(100% - 50px); padding: 25px; z-index: 10;}
#progInfo .progList .progBg .prog .date {font-size: 14px; color: #c3c3c3;}
#progInfo .progList .progBg .prog h3 {font-size: 30px; color: #fff;}
#progInfo .progList .progBg .prog > .square {position: absolute; bottom: 25px; left: 25px; display: inline-block; padding: 4px 30px; box-sizing: border-box; font: 14px 'Noto Sans KR', sans-serif; color: #fff; border: 1px solid white;}
#progInfo .progList .smallProg {position: relative; width: 100%;  border: 1px solid #c3c3c3; overflow: hidden;}
#progInfo .progList .smallProg > div {background: no-repeat center; overflow: hidden;}
#progInfo .progList .smallProg div a {display: block; /* height: 100%; */}
#progInfo .progList .smallProg > .reserv {position: absolute; padding: 4px 30px; bottom: 40px; right: 25px; font-size: 14px; background-color: #fff; border: 1px solid #000;}
#progInfo .progList .smallProg:first-child {margin-bottom: 25px;}
#progInfo .progList .smallProg .smallBg1:hover {background: url("../../img/seoul284/main_hover_img_01.png")0 0 no-repeat; background-size: cover; width: 100%;}
#progInfo .progList .smallProg .smallBg2:hover {background: url("../../img/seoul284/main_hover_img_02.png")0 0 no-repeat; background-size: cover; width: 100%;}
#progInfo .progList .smallProg .smallBg3:hover {background: url("../../img/seoul284/main_hover_img_03.png")0 0 no-repeat; background-size: cover; width: 100%;}
#progInfo .progList .smallProg .smallBg4:hover {background: url("../../img/seoul284/main_hover_img_04.png")0 0 no-repeat; background-size: cover; width: 100%;}
#progInfo .progList .smallProg h4 {margin: 15px 0 15px 0; font: 32px 'Noto Sans KR', sans-serif; font-weight: 500; line-height: 1.2; color: #000;}
#progInfo .progList .smallProg .text {width: 80%; text-align: left; font-size: 16px; line-height: 1.5; color: #666666;}
#progInfo .progList .smallProg .orange {position: relative; display: inline-block; color: #f06400;  margin-top: 20px; margin-bottom: 20px;}
#progInfo .progList .smallProg .arrow {position: absolute; top: 0; left: 67px; color: #f06400; opacity: 0; transition: 0.8s;}
#progInfo .progList .smallProg:hover .arrow {position: absolute; top: 0; left: 75px; opacity: 1;}
#progInfo .progList .smallProg:hover h4 {color: #fff;}
#progInfo .progList .smallProg:hover .text {visibility: hidden;}
#progInfo #viewMoreBtn {width: calc(100% - 25px); background-color: black; margin: 20px auto;}
#progInfo #viewMoreBtn a {text-align: center; display: inline-block; width: 100%; padding: 13px 0; color: #f06400;}

/* #wrapper .cont {width: 100%; margin-bottom: 60px;}  */

/* 문화역서울 284 */
.cont {width: 100%; margin: 0 auto 60px;  }
.cont a {display: block;}
.cont .cont-img img {display: block; width: 100%; height: 100%;}
.cont .cont-info {position: relative; width: 100%; margin-top: 20px;}
.cont .cont-info .cont_date {font-size: 20px; line-height: 1.4;}
.cont .cont-info .cont_title {font-size: 34px; font-weight: bold; line-height: 1.4; margin: 20px 0;}
.cont .cont-info .cont_intro {font-size: 16px; line-height: 1.7; color: #999; word-break: keep-all;}
.program .cont .cont-info .cont_date {font-size: 20px; line-height: 1.4;}
.program .cont .cont-info .cont_title {font-size: 34px; font-weight: bold; line-height: 1;  margin: 5px 0;}
.program .cont .cont-info .cont_intro {font-size: 16px; line-height: 1.7; color: #999; word-break: keep-all; margin-top: 10px;}
.cont .cont-info .orange {margin-top: 20px; color: rgb(240, 100, 0);}
.cont .cont-info .orange .arrow {margin-left: -5px; color: rgb(240, 100, 0); opacity: 0; transition: all 0.5s;}
.cont:hover .orange .arrow {margin-left: 5px; color: rgb(240, 100, 0); opacity: 1;}
a:hover .cont-img {transition: all 0.4s; margin-top: -5px; box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .2);}


/* sub - news/info */
#wrapper .hide-h1 {width: 0; height: 0; opacity: 0;}
#wrapper .heading {margin-bottom: 30px;}
#wrapper .heading h2 {margin-bottom: 10px; font-size: 35px; font-weight: bold; color: #000000;}
#wrapper .heading p {font-size: 13px; color:#666666 ;}

#wrapper .news-table-wrap {width: 100%;}
#wrapper .news-table-wrap table {width: 100%; border-bottom: 1px solid #666666;}
#wrapper .news-table-wrap table thead {border-bottom: 3px solid#000; text-align: left;}
#wrapper .news-table-wrap table thead th {font-size: 10px;}
#wrapper .news-table-wrap table tbody tr {height: 30px; border-bottom: 1px solid #adadad; font-size: 15px; line-height: 1.3;}
#wrapper .news-table-wrap table tbody td {padding: 10px; word-break: keep-all;}
#wrapper .news-table-wrap table tbody td + td {text-align: left; padding: 10px;}
#wrapper .news-table-wrap table tbody .title {display: block; font-size: 15px;}
#wrapper .news-table-wrap table tbody .grayText {color: #999; font-size: 15px;}
