@charset "utf-8";

/* reset */
html {font-size: 10px;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;} /* 쓸거만 넣자. */
h1, h2, h3, h4, h5, h6 {font-weight: 600;}/* f-w */
main {display: block;} /* 표준에 가장 늦게 들어온거라 main기본값이 없을 때가 있으면 inline으로 인식해서. */
a {color: inherit; text-decoration: inherit;} /* 주변 애들이랑 똑같이 스타일 먹게. */
a img {border: none;}/* 파란테두리 생기는거 초기화 */
img {vertical-align: middle;} /* img 밑에 inline- 공간 생기는거. baseline공간. */
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;} /* 디자인엔 안보이게. ir기법중 하나. 숨김 */
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;} /* */
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.only-m {display: none !important;}/* header 안에 있는 요소가 footer에 있거나 그럴때 . 아예 pc, mobile디자인이 다를 때 
br.only-m {content: ' ';} /* 줄바꿈을 웹에서만 할 때. br을 */
br.only-m:after {content: '\00a0';} 
div.hidden {position: absolute; left: -9999px;}
.hide {font-size: 0; text-indent: -99999999999px; color: transparent;}

/* btn-common */
body {position: relative; font-family: 'Noto Sans KR',  Helvetica, sans-serif; font-weight: 400;}
#wrapper {min-width: 1024px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -41px; width: 100%; line-height: 40px; text-align: center; font-size: 16px; color: #ffffff; background: rgba(0, 0, 0, 0.6); border-bottom: 1px solid #ffffff; z-index: 100000; transition: top 0.3s;} 
#skip-nav:focus {top: 0;}

div.more-hide-btn {position: relative; width: 50px; height: 50px; overflow: hidden; border: 1px solid #bcbcbc; background-color: #fff; transition: all 0.5s; }
div.more-hide-btn a {top: 0; left: -130px; display: block; transition: all 0.5s; }
div.more-hide-btn a span {display: inline-block; width: 180px; height: 100%; color: rgb(15, 15, 15); padding: 0 50px 0 30px; box-sizing: border-box; font-size: 1.5rem; line-height: 50px; transition: all 0.5s; opacity: 0; } 
div.more-hide-btn a img {position: absolute; right: 15px; top: 40%; width: 20px; height: auto; transition: all 0.5s;} 
div.more-hide-btn:hover {width: 180px;}
div.more-hide-btn:hover a {left: 0; transition: all 0.8s; opacity: 1;}
div.more-hide-btn:hover a span {position: static; transition: all 1s; opacity: 1; color: black;}
a.more {position: relative; display: inline-block; font-size: 1.5rem; color: #fff;}
a.more::after {content: ''; position: absolute; left: 0; top: 25px; width: 0; height: 1px; background: #fff; transition: width 0.3s;}
a.more img {width: 20px; height: auto; margin-left: 5px; transition: all 0.3s;}
a.more:hover img {margin-left: 10px;}
a.more:hover::after {width: 100%; transition: width 0.3s;}

a.prev, a.next {position: relative; display: inline-block; border: 1px solid rgb(143, 143, 143); color: #fff; width: 55px; height: 55px; transition: all 0.3s;}
a.prev i, a.next i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 2rem; transition: all 0.3s;}
a.prev:hover, a.next:hover {background: #fff; border: 1px solid #fff; transition: all 0.3s;}
a.prev:hover i {left: 45%;  transition: all 0.3s;}
a.next:hover i {left: 55%; transition: all 0.3s;}
a:hover i {color: #000; transition: all 0.3s;}
.up {transform: translateY(0) !important; opacity: 1 !important; transition: all 0.7s;}

/* header */
header {position: absolute; top: calc(100vh - 90px); width: 100%; height: 90px;  border-bottom: 1px solid rgb(230, 230, 230); box-sizing: border-box; background: #fff;}
header::after {content: ''; position: absolute; top: 90px; left: 0; width: 100%; height: 0; transition: height 0.3s; background:#ffffff;}
header.dark::before {content:''; position: absolute; top:90px; left:0; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.6); transition: all 0.3s; z-index: 1000;}
header.open::after {content:''; position: absolute; top:90px; left:0; width: 100%; height: 240px; background:#fff; z-index: 10000;}
header.fixed {position: fixed; top: 0; left: 0; z-index: 1000;}
header a.logo {position: absolute; top: 50%; left: 30px; transform: translateY(-50%); height: 60px; z-index: 10000000;}
header a.logo img {height: 100%;} 
header nav.gnb {position: relative; width: 70%; max-width: 1000px; height: 100%; margin: 0 auto; text-align: center; z-index: 1000000;}
header nav.gnb > ul > li {position: relative; float: left; width: 20%; height: 90px; overflow: hidden; transition: height 0.3s;}

header nav.gnb > ul > li > a {position: relative; display: block; font-size: 2rem; line-height: 90px;}
header nav.gnb > ul > li > a::after {content: ''; position: absolute; left: 0; bottom:0; width: 0; height: 2px; background: black; transition: width 0.3s;}
header nav.gnb > ul > li.on > a::after {content:''; position: absolute; width: 100%; height: 2px; bottom: 0; left: 0; background-color: #000;}
/* header nav.gnb > ul > li > a:hover::after {width: 100%; transition: width 0.3s;} */
header nav.gnb ul li ul li a {position: relative; font-size: 1.4rem; line-height: 40px;}
header nav.gnb ul li ul li a::after {content: ''; position: absolute; left: 0; top: 20px; width: 0; height: 1px; background: black; transition: width 0.3s;}
header nav.gnb ul li ul li a:hover::after {width: 100%; transition: width 0.3s;}
header.open nav.gnb > ul > li {position: relative; height: 330px;}
header.open nav.gnb > ul > li a + ul {height: 330px;}
header.open nav.gnb > ul > li a + ul::after {content:''; position: absolute; top: 90px; left: 0; width: 1px; height: 330px; background-color:rgb(229, 229, 229);}
header.open nav.gnb > ul > li:last-child a + ul::after {content:''; position: absolute; top: 90px; right: 0; width: 1px; height: 330px; background-color:rgb(229, 229, 229);}
header.open nav.gnb > ul > li:first-child a + ul {width: 100%; border-left: 1px solid rgb(229, 229, 229); box-sizing: border-box;}
header.open nav.gnb > ul > li a + ul:hover {background: rgb(250, 250, 250);}

header ul.lang {position: absolute; right: 80px; top: 50%; transform: translateY(-15px); width: 80px; height: 35px; font-size: 14px; text-align: center; cursor: pointer; overflow: hidden; background: #fff; border: 1px solid transparent; box-sizing: border-box; transition: height 0.3s; z-index: 999;} 
header ul.lang.on {height: 105px; border: 1px solid rgb(229, 229, 229); box-sizing: border-box;}
header ul.lang::after {content:''; position: absolute; top: 50%; right: 0; transform: translate(15px, -50%); width: 1px; height: 20px;}
header ul.lang > li {height: 35px; line-height: 35px;}
header ul.lang > li + li {border-top: 1px solid rgb(229, 229, 229); box-sizing: border-box;}
header ul.lang > li > a {display: block;}
header ul.lang > li > a i {margin-right: 10px; vertical-align: baseline;}

header nav.gnb ul.sns {display: none;}
header nav.gnb ul.lang-m {display: none;}
header a.search {position: absolute; right: 30px; top: 0; font-size: 20px; line-height: 90px;}
header form.search-form{position: absolute; left:-110%; top: 90px; width: 100%; height: 170px; font-size: 20px; text-align: center; background-color: #fff; transition: left 0.3s; z-index: 10000;}
header form.search-form.on {left: 0;}
header form.search-form input {width: 80%; height: 100%; border: none; padding: 0 20px; box-sizing: border-box; font-size: 30px; color: #f9f9f9; font-weight: bold;}
header form.search-form a img {width: 50px;}
.sub header {position: fixed; top: 0; left: 0; z-index: 1000;}

/* footer */
footer {width: 100%; background: rgb(242, 242, 242); padding-top: 80px; clear: both;}
footer .wrapper {width: 100%; padding: 0 7%; box-sizing: border-box; overflow: hidden;}
footer .wrapper ul.menu {overflow: hidden;}
footer .wrapper ul.menu > li {float: left; width: 20%; font-size: 1.6rem; font-weight: bold; margin-bottom: 50px;}
footer .wrapper ul.menu > li ul {margin-top: 20px;}
footer .wrapper ul.menu > li ul li {line-height: 2; color: rgb(51, 51, 51);}
footer .wrapper ul.menu > li ul li a {font-size: 1.6rem; font-weight: normal;}
footer .wrapper div.ft-bottom {position: relative; width: 100%; background-color: lightcoral;}
footer .wrapper div.ft-bottom > ul {width: 60%; float: left;}
footer .wrapper div.ft-bottom > ul > li {float: left;}
footer .wrapper div.ft-bottom > ul > li > a {font-size: 1.45rem; display: inline-block; margin-right: 15px; line-height: 1.9; color: #333333;}
footer .wrapper div.ft-bottom > ul > li > a i {margin-left: 5px; color:rgb(107, 107, 107);}
footer .wrapper div.ft-bottom ul.sns {position: relative; top: 10px; float: left; overflow: hidden; margin-right: 10px;}
footer .wrapper div.ft-bottom ul.sns li {float: left;}
footer .wrapper div.ft-bottom ul.sns li + li {margin-left: 10px;}
footer .wrapper div.ft-bottom ul.sns li a i {font-size: 2.3rem;}
footer .wrapper div.ft-bottom > div {position: relative; float: right; width: 300px;} 
footer .wrapper div.ft-bottom div.familysites { z-index: 100;}
footer .wrapper div.ft-bottom div.familysites > ul {position: absolute; right: 50px; bottom: 0; width: 160px; height: 40px; overflow: hidden; box-sizing: border-box; font-size: 14px; line-height: 40px; border: 1px solid rgb(178, 178, 178); background: #fff; transition: height 0.3s;}
footer .wrapper div.ft-bottom div.familysites > ul.open {height: 200px;}
footer .wrapper div.ft-bottom div.familysites > ul > li {position: absolute; right: 0; bottom: 0; width: 100%; height: 40px; text-indent: 5px; font-size: 14px; line-height: 40px; background: #fff;}
footer .wrapper div.ft-bottom div.familysites > ul li a {display: block;}
footer .wrapper div.ft-bottom div.familysites > ul + a {float: right; width: 50px; height: 40px; padding: 0 5px; box-sizing: border-box; font-size: 14px; line-height: 40px; text-align: center; border: 1px solid rgb(178, 178, 178); background: #fff;}
footer .wrapper div.ft-bottom div.familysites > ul + a:hover {background: rgb(178, 178, 178); color: #fff;}
footer .wrapper div.ft-bottom div.familysites > ul > li > ul {position: absolute; bottom: 40px; right: 0; width: 100%; padding: 0 0 0 10px;}
footer .wrapper div.ft-bottom div.familysites > ul > li > ul > li {background: #fff; font-size: 12px;}

footer .wrapper .copyright {width: 100%; border-top: 1px solid #d9d9d9; padding: 30px 0; margin-top: 50px; clear: both;}
footer .wrapper .copyright a {float: left; height: 50px; width: auto;}
footer .wrapper .copyright a > img {height: 100%;}
footer .wrapper .copyright span {float: right; font-size: 1.4rem;}

/* main-main */
#main-video {position: relative; width: 100vw; height: calc(100vh - 90px);}
#main-video ul.video li {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 0;}
#main-video ul.video li.on {z-index: 10; animation: trapezoid 1s;}
@keyframes trapezoid {
    from {clip-path: polygon(0% 110%, 100% 20%, 100% 100%, 0% 100%);}
    to {clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);}
}
#main-video ul.video li video {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); min-width: 100%; min-width: 100%;}
#main-video ul.video li > div {position: relative; width: 90%; top: 37%; transform: translateY(-50%); margin: 0 auto; color: #fff; overflow: hidden;}
#main-video ul.video li > div h1 {position: relative; transform: translateX(-100px); opacity: 0; font-size: 9.5rem; font-weight: 900; line-height: 1;}
#main-video ul.video li > div p {position: relative; transform: translateX(-100px); opacity: 0; font-size: 18px; width: 40%; word-break: keep-all; margin: 1em 0 4em;}
#main-video ul.video li > div div.more-hide-btn {transform: translateX(-100px); border: 1px transparent;}
#main-video ul.video li > div.on h1 {transform: translateX(0); opacity: 1; transition: all 1s;}
#main-video ul.video li > div.on p {transform: translateX(0); opacity: 1; transition: all 1s;transition-delay: 0.5s;}
#main-video ul.video li > div.on div.more-hide-btn {transform: translateX(0);  transition: all 1s;}

#main-video .indicator {position: absolute; bottom: 0; right: 0; width: 100%; height: 70px; padding: 0 5%; box-sizing: border-box; z-index: 10;}
#main-video .indicator ul {float: right; margin-right: 20px;}
#main-video .indicator ul li {position: relative; display: inline-block; width: 190px; max-width: 200px; white-space: nowrap; font-size: 1.5rem; color: rgb(194, 194, 194);}
#main-video .indicator ul li + li {margin-left: 5px;}
#main-video .indicator ul li a {display: block; width: 100%; color: rgb(145, 145, 145); text-overflow: ellipsis;}
#main-video .indicator ul li.on a {display: block; color:#fff;}
#main-video .indicator ul li::before {content:''; position: absolute; top: 30px; left: 0; width: 95%; height: 2px; background: rgb(145, 145, 145);}
#main-video .indicator ul li::after {content:''; position: absolute; top: 30px; left: 0; width: 95%; height: 2px; background: rgb(145, 145, 145);}
#main-video .indicator ul li.on::after {content:''; position: absolute; top: 30px; left: 0; width: 95%; height: 2px; background: #fff; animation: videoNow 7s linear}
@keyframes videoNow {
    from {width:0; color: #fff;}
    to {width: 95%; color: #fff;}
 }
#main-video .indicator > a {position: absolute; right: 5%; top: 25px;width: 10px; height: 10px;}
#main-video .indicator > a.stop {display: block;}
#main-video .indicator > a.play {display: none;}
#main-video .indicator > a img {display: block; width: 100%; height: 100%;}  
#main-video .indicator span {position: absolute; bottom: 110px;  font-size: 1.3rem; color: #fff;} 
#main-video .indicator span:hover { opacity: 1; transition: all 1s;} 
#main-video span > span {content: ''; position: absolute; left: 0; top: 30px; width: 1px; height: 100px; background: rgb(255, 255, 255, 0.5); overflow: hidden;} 
#main-video span > span::after {content: ''; position: absolute; left: -2px; top: -60px; width: 5px; height: 30px; background: #fff; animation: movedown 1.5s infinite;} 
@media screen and (max-width : 1080px){
    #main-video {height: calc(100vh - 65px);}
}
@keyframes movedown {
    from {top : -60px;}
    to {top : 100px;} 
}
section{width: 100%; padding: 7%; box-sizing: border-box; overflow: hidden;}
section h2 {font-size: 5.5rem; font-weight: 900; line-height: 1.2; margin-bottom: 40px; letter-spacing: -1px; transform: translateY(100px); opacity: 0;}
.sub h2.h2-en {font-size: 50px; font-weight: 900; line-height: 1.2; margin-bottom: 70px; text-align: center;}
section p {font-size: 1.8rem; width: 45%; line-height: 1.5; color: #555555; word-break: keep-all; transform: translateY(100px); opacity: 0;}
.sub  p {width: 100%; font-size: 16px; opacity: 1;}
.business {margin-top: 200px;}
.business div {position: relative; width: calc(50% - 15px); float: left; }
.business .engine {margin-left: 30px; transform: translateY(100px); opacity: 0;}
.business .machine {margin-top: 100px;transform: translateY(100px); opacity: 0;}
.business > div > img {display: block; width: 100%;}
.business div::before {content:''; position: absolute; left: 0; bottom: 0; width: 0; height: 130px; background: #ffffff; transition: all 0.5s}
.business div:hover::before {content:''; position: absolute; left: 0; bottom: 0; width: 80%; height: 130px; background: #ffffff; transition: all 0.5s;}
.business h3 {position: absolute; bottom: 15px; left: 30px; color: #fff; font-size: 3.2rem; font-weight: 700; margin-bottom: 40px;}
.business div:hover h3 {color: #000; bottom: 20px;  transition: all 0.3s;}
.business div ul {position: absolute; bottom: 30px; left: 30px; font-size: 1.5rem; opacity: 0;}
.business div:hover ul {opacity: 1;}
.business div ul li {float: left; margin-right: 20px;}
.business div ul li a {color: #999;}

#img-slide {position: relative; width: 100%; height: 850px;}
#img-slide > div {position: absolute; top: 0; display: inline-block; width: 40%; height: 880px; z-index: 10; transition: width 0.7s; background: #fff; }
#img-slide > div.up {width: 0;}
#img-slide > div:nth-of-type(1) {left: 0;}
#img-slide > div:nth-of-type(2) {right: 0;}

#img-slide ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;  background: #000;}
#img-slide ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 250px 100px; box-sizing: border-box; transition: all 0.5s; overflow: hidden;}
#img-slide ul.slide li > img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); height: 110%; opacity: 0;}
#img-slide ul.slide li h2 {float: left; color: #fff; transform: translateY(100px); opacity: 0;}
#img-slide ul.slide li div {float: right; width: 50%;}
#img-slide ul.slide li p {width: 90%; line-height: 1.7; color: #fff; transform: translateY(100px); opacity: 0;}
#img-slide ul.slide li a.more {transform: translateY(100px); margin-top: 50px; opacity: 0;}
#img-slide ul.slide li.on > img {top: 45%; transition: all 1s; opacity: 1;}
#img-slide ul.slide li.on h2 {opacity: 1; transform: translateY(0); transition: all 1s; }
#img-slide ul.slide li.on p {opacity: 1; transform: translateY(0); transition: all 1s; transition-delay: 0.3s;}
#img-slide ul.slide li.on a.more {opacity: 1;transform: translateY(0);  transition: all 1s; transition-delay: 0.5s; }
#img-slide p.control {position: absolute; left: 100px; bottom: 40%; width: auto; color: #fff; opacity: 1;}
#img-slide ul.indicator {position: absolute; right: -50%; bottom: 0; width: 50vw; height: 120px; padding: 50px 50px; box-sizing: border-box; background: #fff;}
#img-slide ul.indicator.up {right: 0;}
#img-slide ul.indicator li {display: inline-block; width: 10px; height: 10px; margin: 5px; }
#img-slide ul.indicator li a {display: block; width: 100%; height: 100%; background: #dedede; overflow: hidden; text-indent: -99999px;}
#img-slide ul.indicator li.on a {background: #000;}

#news{position: relative; width: 100%; padding: 0;}
#news div:first-child{padding: 7% 0 0 7%; box-sizing: border-box; z-index: 100000000000;}
#news::before{content: ''; position: absolute; right: -100%; bottom: 0; width: 93%; height: 45%; background: #000; transition: all 2s; z-index: -1;}
#news.up::before{right: 0;}
#news div > a {margin-top: 20px; transform: translateY(100px); color: #000;}
#news div p.control {margin-top: 50px; color: #333333;}
#news div a.prev i, #news a.next i {color: #000;}
#news div a.prev:hover, #news a.next:hover {background: #000;}
#news div a:hover i {color: #fff;}
#news div.banner {position: relative; width: 93%; height: 500px; margin: 0 0 0 7%; z-index: -1;}
#news div.banner ul.slide {position: absolute; left: 0; top:-200px; width: 4000px; height: 650px; overflow: hidden;}
#news div.banner ul.slide li {float: left; width: 430px; height: 460px; margin: 0 30px; opacity: 0; transition: opacity 0.6s;}
#news div.banner ul.slide li.on {opacity: 1;}
#news div.banner ul.slide li a {display: block; width: 100%; height: 100%; }
#news div.banner ul.slide li div {position: relative; width: 100%; height: 100%; overflow: hidden;}
#news div.banner ul.slide li a div img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; display: block; transition: all 0.5s}
#news div.banner ul.slide li a h3 {font-size: 1.8rem; color: #fff;}
#news div.banner ul.slide li a:hover div img {transform: translate(-50%, -50%) scale(1.2); transition: all 0.5s}
#news div.banner ul.slide li a h3 {font-size: 1.8rem; font-weight: 400; margin: 50px 0 30px 0; width:80%; word-break: keep-all; color: #fff;}
#news div.banner ul.slide li a span {font-size: 1.6rem; color: #999999;}

div.half {float: left; width:calc(50% - 15px);}
div.half:nth-child(2) { margin-left: 30px;}
div.half > p {margin-bottom: 50px;}
div.half div.more-hide-btn {margin-bottom: 50px; transform: translateY(100px); opacity: 0; }
div.half > div + div {padding: 50px; height: 250px; box-sizing: border-box; background: url(../img/extra_info_img.jpg) no-repeat 0 0;}
div.half > div .graph-info {float: left; width: 50%; height: auto; }
div.half > div .graph-info p {width: 80%; font-size: 18px; color: #222222; font-weight: bold; opacity: 1; transform: translateY(0);}
div.half > div .graph-info p + p {font-size: 16px; font-weight: normal; color: #aaaaaa;}
div.half div img.graph {position: relative; top: 20%; width: 40%; height: auto; }
div.half span.black{color: #222222;}
div.half div + img {width: 100%; height: auto; display: block; transform: translateY(100px);}


/* sub-main */
.sub main {width: 100%; margin-top: 90px;}
.sub ul.breadcrumb {width: 100%; padding: 30px 36px 0; box-sizing: border-box; text-align: right;}
.sub ul.breadcrumb li {display: inline-block; margin: 0 5px; color: #555555; font-size: 13px;}
.sub ul.breadcrumb i {position: relative; top: -2px; margin: 0 5px; color: rgb(133, 133, 133);}

#main-head-img {position: relative; top: 0; width: 100%; height: 320px; overflow: hidden;}
#main-head-img > video, #main-head-img > img {position: absolute; left: 50%; top: 0; transform: translateX(-50%);height: 100%;}
#main-head-img h2 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 55px; color: #fff;}
.sub section.wrapper {padding: 110px 5%; box-sizing: border-box;}
.sub section.wrapper article {max-width: 960px; margin: 0 auto;}
.sub section.wrapper article h3 {font-size: 32px; text-align: center; background-color: #fff; margin-bottom: 55px;}
.sub section.wrapper article p {font-size: 16px; line-height: 2em; margin-bottom: 30px; transform: translateY(0);}
.sub section.wrapper article p:first-of-type {padding-top: 50px;}
.sub section.wrapper article p > strong {display: block; margin-bottom: 60px; font-size: 20px; font-weight: bold;}
.sub section.wrapper article p:last-of-type > strong {display: block; margin-bottom: 15px; font-size: 20px; font-weight: bold;}

.sub div.sub-nav {width: 100%; height: 70px; background: #222222; text-align: center;}
.sub div.sub-nav ul {margin: 0 auto;}
.sub div.sub-nav ul li {display: inline-block; font-size: 18px; color: rgb(127, 127, 127);}
.sub div.sub-nav ul li + li::before {content: '|'; position: relative; top: 0;}
.sub div.sub-nav ul li a {padding: 0 15px; line-height: 70px;}
.sub div.sub-nav ul li a:hover {color: #fff;  transition: color 0.3s;}

.sub.innovation section.wrapper article:not(:first-child) {margin: 110px auto 0;}
.sub.greetings section.wrapper article img {float: right; margin: 0 0 60px 50px; padding-top: 50px; box-sizing: border-box;}
.sub.greetings section.wrapper article img:nth-of-type(2) {float: left; margin: 0; padding-top: 0; width: 130px;}
.sub.innovation section.wrapper article img {width: 100%; }
.sub.innovation section.wrapper article p {line-height: 1.8em; margin-bottom: 60px; padding-top: 20px; transform: translateY(0);}

.sub.vision #main {position: relative; width: 100%; height: 1000px; background: url(../img/sub-vision-bg.jpg) no-repeat; background-size: cover; background-position: center center; text-align: center;}
.sub.vision #main h2, .sub.vision #main p {position: relative; top: 20%; word-break: keep-all; color: #fff; z-index: 1;}
.sub.vision #main p {opacity: 0.8;}
.sub.vision ul.bg {position: absolute; top: 0; left: 0; width: 100%; height: 1000px; z-index: 0;}
.sub.vision ul.bg li.bg-img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; background-size: cover; background-position: center center;}
.sub.vision ul.bg li.bg-img:nth-child(1) {background-image: url(../img/vision-bg1.jpg); }
.sub.vision ul.bg li.bg-img:nth-child(2) {background-image: url(../img/vision-bg2.jpg);}
.sub.vision ul.bg li.bg-img:nth-child(3) {background-image: url(../img/vision-bg3.jpg);}
.sub.vision ul.bg li.bg-img:nth-child(4) {background-image: url(../img/vision-bg4.jpg);}

.sub.vision ul.solutions {position: relative; top: 30%; width: 100%; padding: 0 2%; box-sizing: border-box; z-index: 1;}
.sub.vision ul.solutions > li {float: left; width: 25%; height: 200px; background: no-repeat top center; background-size: 25%;  color: #ffffff; transition: transform 0.3s;}
.sub.vision ul.solutions > li.on {transform: translateY(-20px);}
.sub.vision ul.solutions > li:nth-child(1){background-image: url(../img/sub-vision1-ico.png);}
.sub.vision ul.solutions > li:nth-child(2){background-image: url(../img/sub-vision2-ico.png);}
.sub.vision ul.solutions > li:nth-child(3){background-image: url(../img/sub-vision3-ico.png);}
.sub.vision ul.solutions > li:nth-child(4){background-image: url(../img/sub-vision4-ico.png);}
.sub.vision ul.solutions > li a {display: block; width: 100%; padding: 1em 30px; box-sizing: border-box;}
.sub.vision ul.solutions > li a h3 {font-size: 18px; padding-top: 100px;}
.sub.vision ul.solutions > li a h3 + ul {position: relative; width: 80%; font-size: 16px; text-align: left; margin: 2em auto; opacity: 0; transition: all 0.3s ease;}
.sub.vision ul.solutions > li.on a h3 + ul {transform: translateY(20px); opacity: 1;}
.sub.vision ul.solutions > li a h3 + ul li {list-style-type:'-  '; margin-bottom: 0.5em;}
.sub.history {width: 100%;}

.sub.brand section {max-width: 960px; padding: 7% 0; margin: 0 auto;}
.sub.brand h3 {font-size: 60px; font-weight: normal; letter-spacing: -2px; text-align: center;}
.sub.brand h3 > span{font-weight: 900;}
.sub.brand > p {text-align: center; margin-bottom: 50px; font-size: 20px;}
.sub.brand p + p {text-align: left; font-size: 16px; margin-bottom: 160px; line-height: 30px;}
.sub.brand ul.content-wrap {max-width: 960px; margin: 0 auto; padding-bottom: 8%;}
.sub.brand ul.content-wrap li {height: 440px; margin: 0 auto 8%;}
.sub.brand ul li:nth-of-type(odd) div.img-box {position: absolute; left: 0; width: 50vw; height: 440px; overflow: hidden;}
.sub.brand ul li:nth-of-type(even) div.img-box{position: absolute; left: 50%; width: 50vw; height: 440px; overflow: hidden;}
.sub.brand ul li div.img-box img {width: 100%;}
.sub.brand ul li div.text-box {position: relative; width: 50%;}
.sub.brand ul li:nth-child(odd) div.text-box {float: right; text-align: right; padding-left: 50px; box-sizing: border-box;}
.sub.brand ul li:nth-child(even) div.text-box {float: left; text-align: left; padding-right: 50px; box-sizing: border-box;}
.sub.brand ul li div.text-box {position: relative;  width: 50%;}
.sub.brand ul li div.text-box span.number {position: absolute; right: 0; top: -20px; font-size: 200px; line-height: 1; font-weight: bold; color: #222; opacity: 0.05;}
.sub.brand ul li div.text-box h4 {font-size: 32px; margin-top: 80px;}
.sub.brand ul li div.text-box p {font-size: 16px; padding: 40px 0; box-sizing: border-box;  color: #555;}
.sub.brand ul li:nth-child(odd) div.more-hide-btn {position: absolute; right: 0; transform: translateY(30px);}
.sub.brand ul li:nth-child(even) div.more-hide-btn {position: absolute; left: 0; transform: translateY(30px);}

.sub.news-media section.news-wrap {max-width: 960px; margin: 0 auto; padding: 7% 0 0; border-bottom: 1px solid #e5e5e5;}
.sub.news-media section.news-wrap ul {width: 100%;}
.sub.news-media section.news-wrap > ul > li {width: 100%; margin-bottom: 40px;}
.sub.news-media section.news-wrap ul li a {display: block; width: 100%; overflow: hidden;}
.sub.news-media section.news-wrap ul li a div.img-box {float: left; position: relative; width: 460px; height: 230px; overflow: hidden;}
.sub.news-media section.news-wrap ul li a div.img-box img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
.sub.news-media section.news-wrap ul li a div.text-box {float: left; width: 500px; padding-left: 35px; box-sizing: border-box;}
.sub.news-media section.news-wrap ul li a div.text-box h3 {font-size: 20px; margin-bottom: 16px;}
.sub.news-media section.news-wrap ul li a div.text-box ul {font-size: 16px; margin-bottom: 16px;}
.sub.news-media section.news-wrap ul li a div.text-box ul li {list-style-type: '- '; line-height: 1.7; color: #555555; }
.sub.news-media section.news-wrap ul li a div.text-box span {font-size: 16px; color: #999999;}
.sub.news-media section.news-wrap ul li.first {padding-bottom: 50px; border-bottom: 1px solid #e5e5e5;}

.sub.news-media section.news-wrap ul li.first a div.img-box {width: 960px; height: 480px; margin-bottom: 50px;}
.sub.news-media section.news-wrap ul li.first a div.text-box {width: 100%; padding: 0;}
.sub.news-media section.news-wrap ul li.first a div.text-box h3 {font-size: 24px; margin-bottom: 20px;}
.sub.news-media section.news-wrap ul li.first a div.text-box ul {font-size: 18px;}
.sub.news-media ol.paging {width: 100%;  height: 20px; background-color: teal;}
.sub.news-media ol.paging li {background-color: yellow; font-size: 10px; display: inline-block;}


#bg-vid.wrap {position: relative; width: 100%;}
#bg-vid video {width: 100%;}

@media screen and (max-width : 1280px){ 
    section h2 {font-size: 4.5vw; margin-bottom: 50px;}
    section p {font-size: 1.5rem;}
    #img-slide {height: 800px;}
    #img-slide ul.indicator {height: 100px; padding: 40px 50px;}
    header nav > ul > li > a {font-size: 1.7rem;}
}
@media screen and (max-width : 1080px){
    section h2 {left: 0; top: 0;}
    #main-video ul.video li > div h1 {font-size: 7vw;}
    #img-slide {height: 750px;}
    #img-slide ul.slide li {padding: 150px 60px;}
    #img-slide ul.slide li a.more {margin-top: 25px;}
    #img-slide p.control {left: 60px}
    #info h2 {font-size: 3.7vw; font-weight: 700; margin-bottom: 0.5em;}
    div.half {width: 100%; float: none; margin-bottom: 50px;}
    div.half:nth-child(2){margin-left: 0;}
    footer .wrapper > div{width: 40%;} 
}
@media screen and (max-width : 1024px){
    #img-slide ul.slide li {padding: 100px 60px;}
    #img-slide ul.slide li div {float: none;}
    #img-slide p.control {left: 60px}
    #news::before {height: 35%; bottom: 50px;}
    #news div.banner ul.slide {left: 400px;}
    #news div.banner ul.slide li {width: 400px;}
    #news div.banner ul.slide li div {width: 400px;}
}

